.Home {
    background-color: #f5db93;
}

.Home__Welcome {
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
    background-color: #ccbc8f;
}

.Home__Functions {
    background-color: #f5db93;
}

.Home__Functions--title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    text-align: center;
    background-color: #eddaa6;
}
.Home__Functions--title > div {
    width: 25%;
}

.Home__Functions--description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    text-align: center;
    background-color: #ccbc8f;
}

.Home__Functions--description > div {
    width: 25%;
}

.Home__Charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    float: left;
    text-align: center;
    background-color: #eddaa6;
}

.Home__Charts--container {
    width: 90%;
    background-color: chartreuse;
}

.Home__Charts--UsersChart--tooltip--container {
    background-color: white;
    margin: 1px black;
}

.Home__Charts--UsersChart--tooltip--intro1 {
    color: #8884d8;
}

.Home__Charts--UsersChart--tooltip--intro2 {
    color: #82ca9d;
}