.Home {
    background-color: #2185d0;
}

.Home__Welcome--container {
    margin: 0.5rem 0;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.Home__Welcome--h2 {
    color: white;
    margin-top: 0;
}

.Home__Functions--container {
    margin: 0.5rem;
    padding: 0.5rem
}

.Home__Functions--items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    text-align: center;
}

.Home__Functions--items > div {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.ui.visible.content {
    display: flex;
    width: 100%;
}

.Home__Functions--header--1 {
    font-weight: bold;
    background-color: white;
    margin-bottom: 0;
}

.Home__Functions--header--2 {
    font-weight: bold;
    background-color: black;
    color: white;
    margin-bottom: 0;
}

.Home__Functions--description--1 {
    background-color: black;
    color: white;
}

.Home__Functions--description--2 {
    background-color: white;
}

.Home__Charts--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
    border-top: white solid 1px;
    padding-top: 14px;
}

.xAxis, .yAxis, .recharts-cartesian-axis-tick > text {
    stroke: #ccc;
}

.Home__Charts--items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.Home__Charts--title {
    height: 50px;
}

.Home__Charts--items--Users, .Home__Charts--items--Games {
    width: 90%;
}

.Home__Charts--UsersChart--tooltip--container {
    background-color: #1b7a6e;
    margin: 1px black;
}

.Home__Charts--UsersChart--tooltip--intro1 {
    color: #00E49F;
}

.Home__Charts--UsersChart--tooltip--intro2 {
    color: #f2d43f;
}

@media only screen and (max-width: 1200px) {
    .Home__Charts--container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        text-align: center;
        border-top: white solid 1px;
        padding-top: 14px;
    }

    .Home__Charts--title {
        height: 30px;
    }
    
    .Home__Charts--items {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    .Home__Functions--header--1, .Home__Functions--header--2 {
        height: 45px;
    }
}

@media only screen and (max-width: 805px) {
    .Home__Functions--header--1, .Home__Functions--header--2, .Home__Functions--description--1, .Home__Functions--description--2 {
        font-weight: normal;
    }
    
    .Home__Functions--container {
        display: flex;
        align-items: center;
    }

    .Home__Functions--header, .Home__Functions--description {
        display: block;
    }

    .Home__Functions--header > div, .Home__Functions--description > div {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .Home__Functions--description--1, .Home__Functions--description--2 {
        font-size: 1rem;
    }
}